.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  &:hover {
    border: 0.2px solid greenyellow;
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 297px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3 {
    font-size: 25px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
  }
  .techs {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;

    .tech {
      font-size: 18px;
      font-weight: 400;
      border-radius: 100px;
      background: linear-gradient(
        0deg,
        rgba(66, 126, 238, 0.2) 0%,
        rgb(37, 161, 233) 100%
      );
      padding: 2px 22px;
    }
  }
  .links {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border: 1px solid rgb(0, 208, 255);
      border-radius: 100px;
      background: linear-gradient(to right, #279ff5, #4bfadd);
      padding: 2px 22px;

      &:hover {
        border: 1px solid rgb(255, 98, 0);
      }
    }
  }
}
