@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 10%;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .me {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      cursor: pointer;
      border: 2px solid aqua;
      &:hover {
        border: 2px solid rgb(251, 93, 3);
      }
    }
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
  }
  .menu {
    display: flex;
    .icon {
      display: none;
    }
    .items {
      display: flex;
      gap: 20px;
      list-style: none;
      li {
        a {
          font-size: 20px;
          color: white;
          text-decoration: none;

          &:hover {
            color: aqua;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .menu {
      position: absolute;
      right: 0;
      margin-right: "10%";
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      z-index: 3;

      .icon {
        display: flex;
        .menuBtn {
          display: block;
          cursor: pointer;
        }
      }

      .items {
        display: none;
        margin-top: 5px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(
          0deg,
          rgba(25, 55, 109, 0.2) 0%,
          rgba(25, 55, 109, 1) 100%
        );
        padding: 25px 30px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      }

      .menuOpen {
        display: flex;
        z-index: 1;
      }
    }
  }
}
