@import "../../vars.css";

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  gap: 100px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    z-index: 1;
    width: 50%;

    .title {
      font-size: 40px;
      font-weight: 900;
      margin-bottom: 20px;
      font-family: var(--font-roboto);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 120%
      );
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    p {
      font-size: 18px;
      font-family: var(--font-roboto);
      padding-bottom: 30px;
    }
    .desc {
      font-size: 30px;
      font-family: var(--font-roboto);
      margin-bottom: 50px;
    }
    .contact {
      text-decoration: none;
      background-color: #7ca3e6;
      color: white;
      font-size: 30px;
      padding: 4px 15px;
      border-radius: 30px;
      font-weight: 600;
      box-shadow: 0 0 4px 0 rbga(0, 0, 0, 0.25);
    }
  }
  .img {
    width: 18%;
    height: 10%;
  }
  .topBlur {
    position: absolute;
    width: 40vw;
    height: 45vw;
    min-width: 350px;
    min-width: 250px;
    top: -42px;
    left: -5vw;
    border-radius: 746px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
  }
}

@media screen and (max-width: 830px) {
  .hero {
    flex-direction: column-reverse;
    .content {
      width: 80%;
      align-items: center;
    }
    .img {
      width: 30%;
      height: 10%;
    }
  }
}
